name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2      
    - uses: krdlab/setup-haxe@master
      with:
        haxe-version: 4.0.5
    - name: Build
      run: |
        haxelib install hscript
        haxelib install hxnodejs
        haxelib install haxicord
        haxe -version
    #   haxe --library hscript --library hxnodejs --library haxicord --class-path Source --main Bot --js node/bot.js -D nodejs --debug
    # - name: Deploy
    #   uses: akhileshns/heroku-deploy@v3.0.4
    #   with:
    #     heroku_api_key: ${{secrets.HEROKU_API_KEY}}
    #     heroku_app_name: ${{secrets.HEROKU_APP}}
    #     heroku_email: ${{secrets.HEROKU_EMAIL}}
    #     appdir: "node"

    # - name: Notify Discord (success)
    #   uses: appleboy/discord-action@master
    #   with:
    #     webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
    #     webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
    #     color: "#00C07F"
    #     message: "Build and Deploy succeeded!"

    # - name: Notify Discord (failure)
    #   uses: appleboy/discord-action@master
    #   if: failure()
    #   with:
    #     webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
    #     webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
    #     color: "#FF6562"
    #     message: "Build and or Deploy failed."
