name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2  
    - name: Setup    
      uses: krdlab/setup-haxe@master
      with:
          haxe-version: 4.1.0
    - name: Haxelibs
      run: |
        haxelib install hscript --quiet
        haxelib install hxnodejs --quiet
        haxelib git discordjs https://github.com/Apprentice-Alchemist/Haxe-DiscordJs --quiet
        haxelib git ModioHx https://github.com/Apprentice-Alchemist/ModioHx --quiet
    - name: Build
      run: |
       haxe build.hxml
       haxe --run Build
    - name: Deploy
      # uses: apprentice-alchemist/heroku-deploy@master
      # with:
      #   heroku_api_key: ${{secrets.HEROKU_API_KEY}}
      #   heroku_app_name: ${{secrets.HEROKU_APP}}
      #   heroku_email: ${{secrets.HEROKU_EMAIL}}
      #   appdir: "node"
      env:
        HEROKU_API_TOKEN: ${{ secrets.HEROKU_API_Key }}
        HEROKU_APP_NAME: ${{secrets.HEROKU_APP}}
      if: github.ref == 'refs/heads/master' && job.status == 'success'
      run: |
        git add --all
        git commit -m ...
        git push https://heroku:$HEROKU_API_TOKEN@git.heroku.com/$HEROKU_APP_NAME.git origin/master:master --force
    - name: Notify Discord (success)
      uses: appleboy/discord-action@master
      with:
        webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
        webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
        color: "#00C07F"
        message: "Build and Deploy succeeded!"

    - name: Notify Discord (failure)
      uses: appleboy/discord-action@master
      if: failure()
      with:
        webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
        webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
        color: "#FF6562"
        message: "Build and or Deploy failed."
