name: CI

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2      
    - name: Setup
      uses: krdlab/setup-haxe@v1.1.2
    - name: Build
      run: |
        haxelib install hxnodejs
        haxelib install haxicord
        haxe --run Build
    - name: Deploy
      uses: akhileshns/heroku-deploy@v3.0.4
      with:
        heroku_api_key: ${{secrets.HEROKU_API_KEY}}
        heroku_app_name: ${{secrets.HEROKU_APP}}
        heroku_email: ${{secrets.HEROKU_EMAIL}}
        appdir: "node"

    # - name: Notify Discord (success)
    #   uses: appleboy/discord-action@master
    #   with:
    #     webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
    #     webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
    #     color: "#00C07F"
    #     message: "Build and Deploy succeeded!"

    # - name: Notify Discord (failure)
    #   uses: appleboy/discord-action@master
    #   if: failure()
    #   with:
    #     webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
    #     webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
    #     color: "#FF6562"
    #     message: "Build and or Deploy failed."
